section(class="overlay height-view-10")
  section(class="overlay__outer grd-clmn-1")
    section(class="overlay__share rotate-270 gray-light")
      p(class="toupper") share
    block overlayOuterRight
  section(class="overlay__between grd-clmn-2")
    section(class="overlay__between__container")
      block overlayLeftRectangles
  section(class="overlay__inner grd-clmn-3")
    block content
  section(class="overlay__between grd-clmn-4")
    section(class="overlay__between__container")
      block overlayRightRectangles
  section(class="overlay__outer grd-clmn-5")
    block overlaySlider
    block overlayOuterLeft
