extends common/overlay.pug

append overlayLeftRectangles
  div(class="line c-white line-white line-medium")
  section(class="overlay__rectangles")
    each rect_color in ['white', 'white', 'white']
      div(class="rectangle-" + rect_color)

append overlayRightRectangles
  section(class="overlay__rectangles")
    each rect_color in ['white', 'white']
      div(class="rectangle-" + rect_color)

append overlaySlider
  section(class="overlay__slider")
    each rect_color in ['white']
      div(class="rectangle-" + rect_color + " " + "overlay__slider__element")
    each circle_color in ['white', 'white is-active', 'white', 'white', 'white']
      div(class="circle-" + circle_color + " " +  "overlay__slider__element")
    each rect_color in ['white']
      div(class="rectangle-" + rect_color + " " + "overlay__slider__element")

block content
  .grid-wrapper
    - var categoriesImages = assetsImages + "/categories"
    .section-name.ff-roboto
      p categories
    aside(class="section-logo")
      p new collections
    section(class="categories")
      section(class="cards")
        +card("categories__card")
          .categories__card_top
            img(src=categoriesImages + "/top.png", alt="")
          .categories__card_bottom.ff-roboto
            .line.line-medium
            p Lorem
        +card("categories__card")
          .categories__card_top
            img(src=categoriesImages + "/pants.png", alt="")
          .categories__card_bottom.ff-roboto
            .line.line-medium
            p Lorem
        +card("categories__card")
          .categories__card_top
            img(src=categoriesImages + "/shoes.png", alt="")
          .categories__card_bottom.ff-roboto
            .line.line-medium
            p Lorem
    aside(class="categories__button")
      p +

