include common/mixins.pug


- var assetsHost = "http://localhost:3301"
- var assetsImages = assetsHost + "/static/img"
.page-slider
  .page-slider__container(style="transform:translateY(-100%);")
    #group.page-slider__element
      include group.pug
    #categories.page-slider__element
      include categories.pug
    #shop.page-slider__element
      include shop.pug
    #brands.page-slider__element
      include brands.pug
    #whyus.page-slider__element
      include whyus.pug

