include common/mixins.pug


- var assetsHost = "http://localhost:3301"
- var assetsImages = assetsHost + "/static/img"
div(class="slider")
  div(id="group" class="slider-element section-wrapper")
    include group.pug
  div(id="categories" class="slider-element section-wrapper")
    include categories.pug
  div(id="shop" class="slider-element section-wrapper")
    include shop.pug
  div(id="brands" class="slider-element section-wrapper")
    include brands.pug
  div(id="whyus" class="slider-element section-wrapper")
    include whyus.pug

