extends common/overlay.pug

append overlayLeftRectangles
  div(class="line line-white line-medium")
  section(class="overlay__rectangles")
    each rect_color in ['white', 'white', 'white']
      div(class="rectangle-" + rect_color)

append overlayRightRectangles
  section(class="overlay__rectangles")
    each rect_color in ['white', 'white']
      div(class="rectangle-" + rect_color)

append overlaySlider
  section(class="overlay__slider")
    each rect_color in ['white']
      div(class="rectangle-" + rect_color + " " + "overlay__slider__element")
    each circle_color in ['white', 'white', 'white is-active', 'white', 'white']
      div(class="circle-" + circle_color + " " +  "overlay__slider__element")
    each rect_color in ['white']
      div(class="rectangle-" + rect_color + " " + "overlay__slider__element")

block content
  .grid-wrapper
    - var shopImages = assetsImages + "/shop"
    .section-name.ff-roboto
      .line.line-medium.line-white
      p shop
    aside(class="section-logo")
      p popular
    aside(class="shop__categories ff-roboto")
      p pants
      p shoes
      p top
    section(class="shop__content")
      section(class="cards")
        +card("shop__card")
          .shop__card__button.rectangle-black
          img(src=shopImages + "/" + "girlone.png", alt="girlone")
        +card("shop__card")
          .shop__card__button.rectangle-black
          img(src=shopImages + "/" + "girltwo.png", alt="girltwo")
        +card("shop__card")
          .shop__card__button.rectangle-white
          img(src=shopImages + "/" + "girlthree.png", alt="girlthree")

